body {
  text-align: center;
  padding: 5%;
}

img {
  height:300px;
  border-radius: 5%;
}

.star {
  cursor: pointer;
  font-size: 30px;
}

.drinks {
  float: left;
  left: 0px;
}

.favourite-drinks {
  float: right;
  right: 0px;
}